*{
    box-sizing: border-box;
}
.navBar{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 2px 1px 2px #eee;
}
.navBar>img{
    width: 100px;
    height: 30px;
    padding-top: 5px;
    margin-left: -20px;
    /* margin-top: 10px; */
    /* margin-left: 42px; */
}
.navBar>.navBarMainOptions{
    display: flex;
}

.navBar>.navBarMainOptions>#navBarOptions{
    padding: 20px;
    color: #666;
}
.middlePage{
    /* display: flex; */
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.middlePage>#landing_img{
    display: flex;
    justify-content: center;
    width: 95vw;

}

#quotes>#h1{
    font-size: 50px;
    /* line-height: 1.25; */
    font-weight: 800;
}

#quotes>#h4{
    margin-top: -20px;
    font-size: 30px;
    /* line-height: 1.25; */
    font-weight: 400;
}

.middlePage>button{
    color: white;
    font-weight: 500;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #387ed1;
}